<div class="info-box">
  <div class="info-box__content">
    <div class="info-box__desc">
      <h2 class="h2">Вивчай можливості MARVI</h2>
      <div class="info-box__text">
        Заповнюй невелику форму та отримай демо-доступ до повного
        функціоналу системи управління
      </div>
      <button type="button" class="btn-site click-animation @@if(context.green){green}"
              data-bs-toggle="modal" data-bs-target="#checkOutDemo"
      >Отримати демо</button
      >
    </div>
    <div class="info-box__img">
      <img src="images/dogs/dog_1.svg" class="mw-100" alt="" />
    </div>
  </div>
</div>