<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row g-2 g-md-3">
        <div class="col-xl-5 col-xxl-4 offset-xxl-1">
          <div class="h3 text-center">Спробувати демо-версію</div>
          <div class="footer_form">
            <form action="#">
              <div class="row g-2">
                <div class="col-6">
                  <div class="wrap-input-site">
                    <input type="text" class="input-site" placeholder="Ім’я" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="wrap-input-site">
                    <input
                      type="text"
                      class="input-site"
                      placeholder="Прізвище"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="wrap-input-site">
                    <input
                      type="email"
                      class="input-site error"
                      placeholder="example@mail.com"
                    />
                    <div class="input-site_error">Невірний формат даних.</div>
                  </div>
                </div>
                <div class="col-12">
                  <select class="input-site js-choice">
                    <option>Для магазинів оптики 1</option>
                    <option>Для магазинів оптики 2</option>
                    <option>Для магазинів оптики 3</option>
                  </select>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn-site click-animation">
                    Отримати демо
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 offset-xxl-1">
          <div class="footer_top__item">
            <div class="h3">Навігація</div>
            <ul class="footer-menu">
              <li><a href="about.html">Про компанію</a></li>
              <li><a href="optical.html">Для магазинів оптики</a></li>
              <li><a href="clinics.html">Для офтальмологічних клінік</a></li>
              <li><a href="prices.html">Ціни та плани</a></li>
              <li><a href="safety.html">Безпека</a></li>
              <li><a href="blog.html">Блог</a></li>
              <li><a href="contacts.html">Контакти</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 col-xxl-3 ">
          <div class="footer_top__item">
            <div class="h3">Конфіденційність</div>
            <ul class="footer-menu">
              <li><a href="politics.html">Політика з обробки персональних даних</a></li>
              <li><a href="rules.html">Правила та умови користування</a></li>
            </ul>
          </div>
          <div class="footer_top__item">
            <div class="h3">Питання</div>
            <ul class="footer-menu">
              <li><a href="tel:+38 097 070 32 36">+38 097 070 32 36</a></li>
              <li><a href="mailto:info@marvi-system.com">info@marvi-system.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center flex-column">
          <div class="footer_logo">
            <img src="images/logo.svg" alt="" />
          </div>
          @@include('../../components/social/index.html')

          <a href="https://brabagency.com/en/" class="madeBy" target="_blank">
            Made by
            <img src="images/brab.svg" alt="">
          </a>
          <div class="copyRight">© MARVI. 2023. Всі права захищені</div>
        </div>
      </div>
    </div>
  </div>
</footer>
