<div class="accordionFag-inner">
  <h2 class="accordionFag-head" id="heading-@@count">
    <button class="accordionFag-btn collapsed click-animation h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@@count" aria-expanded="true" aria-controls="collapse-@@count">
      <span>@@title</span>
    </button>
  </h2>
  <div id="collapse-@@count" class="accordionFag-collapse collapse" aria-labelledby="heading-@@count" data-bs-parent="#accordionFag">
    <div class="accordionFag-content">
      Використання CRM системи дозволяє покращити ефективність роботи компанії за рахунок збору та аналізу інформації про клієнтів, автоматизації процесів продажів та маркетингу, покращення взаємодії з клієнтами, збільшення продажів та заробітку
    </div>
  </div>
</div>