<section class="section-bestInMARVI section">
  <div class="container mb-80">
    <div class="row">
      <div class="col-12">
        <h2 class="h2 text-center mb-80">Що щє крутого в MARVI?</h2>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-xl-4 offset-xl-1">
        <div class="bestInMARVI_img">
          <img src="images/dogs/dog_10.svg" alt="" />
        </div>
      </div>

      <div class="col-xl-6 offset-xl-1">
        <div class="row g-1 g-lg-2 g-xxl-3">
          @@loop('../../components/bestInMARVI-item/index.html',
          'components/bestInMARVI-item/bd.json')
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="info-box-2">
          <div class="info-box-2_title h3 text-center">
            Дізнайся більше про плани та тарифи або спробуй демо-версію
          </div>
          <div class="info-box-2_btn">
            <a href="prices.html" class="btn-site-2 click-animation"
            >Плани та тарифи</a
            >
            <button type="button" class="btn-site click-animation" data-bs-toggle="modal" data-bs-target="#checkOutDemo"
            >Отримати демо</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>