<header class="header @@if(context.fixed){header-fixed}">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="header-logo">
          <a href="index.html">
            <svg
              width="145"
              height="40"
              viewBox="0 0 145 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M35.0366 33.3311L32.4379 13.1595L26.7895 33.3311H20.4814L14.8296 13.1595L12.231 33.3311H6.74416L10.5782 6.66668H17.6303L23.6085 26.9217L29.6305 6.66668H36.6826L40.5166 33.3311H35.0366Z"
              />
              <path
                d="M86.1715 24.3085H80.9742V33.3345H75.612V6.67002H87.2016C94.0045 6.67002 97.5524 9.6931 97.5524 15.5293C97.5524 19.8156 95.6539 22.552 91.8603 23.6953L98.0877 33.3311H91.8199L86.1715 24.3085ZM80.9742 19.9389H86.4173C90.1301 19.9389 91.9849 18.429 91.9849 15.446C91.9849 12.5062 90.1301 11.0363 86.4173 11.0363H80.9742V19.9389Z"
              />
              <path
                d="M127.986 6.66668L118.254 33.3311H110.953L101.262 6.66668H106.789L114.625 29.2081L122.462 6.66668H127.986Z"
              />
              <path
                d="M64.8403 33.3311L57.0039 10.7897L49.1676 33.3311H43.6404L53.3315 6.66668H60.6326L70.3641 33.3311H64.8403Z"
              />
              <path d="M138.256 33.3311H132.894V6.66668H138.256V33.3311Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col-auto d-flex justify-content-end">
        <ul class="header-menu">
          <li class="drop-li"><!--current page class="active" for li-->
            <span>Продукт</span>
            <ul class="drop-menu">
              <li><a href="optical.html">Для магазинів оптики</a></li>
              <li><a href="clinics.html">Для офтальмологічних клінік</a></li>
            </ul>
          </li>
          <li><a href="prices.html">Ціни та плани</a></li>
          <li class="drop-li">
            <span>О компанії</span>
            <ul class="drop-menu">
              <li><a href="about.html">Про MARVI</a></li>
              <li><a href="safety.html">Безпека</a></li>
              <li><a href="fag.html">FAQ</a></li>
              <li><a href="contacts.html">Контакти</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Блог</a></li>
        </ul>

        <div class="header-btns">
          <button type="button"
            data-bs-toggle="modal"
            data-bs-target="#entranceModal"
            class="btn-site-2 click-animation header-btns__btn"
            id="login"
            ><span>Увійти</span></button>
          <a href="#" class="btn-site click-animation header-btns__btn"
            ><span>Отримати демо</span></a
          >
        </div>

        <button class="btn-menu" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>



