<div class="col-3">
  <a href="article.html" class="blog-item">
    <div class="blog-item_img">
      <img src="images/blog/@@urlImg" alt="" />
    </div>
    <div class="blog-item_desc">
      <div class="blog-item_title">@@title</div>
      <div class="blog-item_text">@@text</div>
      <div class="blog-item_footer">
        <div class="blog-item_date">@@date</div>
        <div class="blog-item_readMore">
          <span class="link-read-more">
            Читати
          </span>
        </div>
      </div>
    </div>
  </a>

</div>