<section class="section-review section">
  <div class="section-review_img">
    <picture>
      <source srcset="images/doctor.webp" type="image/webp"/>
      <img src="images/doctor.jpg" loading="lazy" alt="" />
    </picture>
  </div>

  <div class="container position-relative">
    <div class="row">
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="review_content @@if(context.green){green} p-1 p-lg-2 p-xl-3">
          <h3 class="review_text h3">
            “Це справжній крок вперед у сфері організації роботи, що сприяє
            покращенню якості медичних послуг і задоволенню пацієнтів”
          </h3>
          <div class="review_name">Гончаренко Сергій</div>
          <div class="review_position">Головний лікар</div>
          <div class="review_btn">
            <a
              href="https://youtu.be/yZdpqBT7hw0?t=7"
              class="btn-site @@if(context.green){green}"
              data-fancybox="gallery-doctorReviews"
            >Дивитись відеовідгук</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>