<div
  class="modal fade"
  id="entranceModal"
  aria-hidden="true"
  aria-labelledby="entranceModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <svg>
          <use xlink:href="images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal-body">
        <ul class="entrance entrance-nav" id="entranceTabs" role="tablist">
          <li class="entrance-item" role="presentation">
            <button
              class="entrance-link active click-animation"
              id="registration-item-tab"
              data-bs-toggle="tab"
              data-bs-target="#registration-item"
              type="button"
              role="tab"
              aria-controls="registration-item"
              aria-selected="true"
            >
              Реєстрація
            </button>
          </li>
          <li class="entrance-item" role="presentation">
            <button
              class="entrance-link click-animation"
              id="login-item-tab"
              data-bs-toggle="tab"
              data-bs-target="#login-item"
              type="button"
              role="tab"
              aria-controls="login-item"
              aria-selected="false"
            >
              Увійти
            </button>
          </li>
        </ul>
        <div class="tab-content entrance-content" id="entranceTabsContent">
          <div
            class="tab-pane fade show active"
            id="registration-item"
            role="tabpanel"
            aria-labelledby="registration-item-tab"
          >
            <div class="entrance-content_item">
              <form action="#">
                <div class="row gy-2">
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="text"
                        class="input-site"
                        placeholder="Ім’я"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="email"
                        class="input-site error"
                        placeholder="example@mail.com"
                      />
                      <div class="input-site_error">Невірний формат даних.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="password"
                        class="input-site"
                        placeholder="Придумайте пароль"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="password"
                        class="input-site"
                        placeholder="Повторити пароль"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <select class="input-site js-choice">
                      <option>Для магазинів оптики 1</option>
                      <option>Для магазинів оптики 2</option>
                      <option>Для магазинів оптики 3</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <div class="form-error">
                      Сталась помилка. Перевірте правильність введених данних та
                      спробуйте щє
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button
                      type="submit"
                      disabled
                      class="btn-site click-animation mt-2"
                    >
                      Зареєструватись
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="login-item"
            role="tabpanel"
            aria-labelledby="login-item-tab"
          >
            <div class="entrance-content_item">
              <form action="#">
                <div class="row gy-2">
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="email"
                        class="input-site"
                        placeholder="example@mail.com"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="wrap-input-site">
                      <input
                        type="password"
                        class="input-site"
                        placeholder="Введіть пароль"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-error">
                      Сталась помилка. Перевірте правильність введених данних та
                      спробуйте щє
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button
                      type="submit"
                      disabled
                      class="btn-site click-animation mt-2"
                    >
                      Увійти
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
