
<!--Modal callBack-->
<div
  data-lenis-prevent
  class="modal fade"
  id="callBack"
  aria-hidden="true"
  aria-labelledby="entranceModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <svg>
          <use xlink:href="images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal-body">
        <h4 class="h4 text-center modal_title">Зворотній зв’язок</h4>
        <form action="#">
          <div class="row gy-2">
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="text"
                  class="input-site"
                  placeholder="Ім’я"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="email"
                  class="input-site"
                  placeholder="example@mail.com"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="tel"
                  class="input-site"
                  placeholder="+38 (___) _ _ _ - _ _ - _ _"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">

                <textarea class="input-site" placeholder="Залиште коментар"></textarea>
              </div>
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                disabled
                class="btn-site click-animation mt-2"
              >
                Надіслати запит
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal checkOutDemo-->
<div
  data-lenis-prevent
  class="modal fade"
  id="checkOutDemo"
  aria-hidden="true"
  aria-labelledby="entranceModal"
  tabindex="-1"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <svg>
          <use xlink:href="images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal-body">
        <h4 class="h4 text-center modal_title">Залишити заявку</h4>
        <form action="#">
          <div class="row gy-2">
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="text"
                  class="input-site"
                  placeholder="Ім’я"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="email"
                  class="input-site"
                  placeholder="example@mail.com"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="tel"
                  class="input-site tel"
                  placeholder="+38 (___) _ _ _ - _ _ - _ _"
                />
              </div>
            </div>
            <div class="col-12">
              <select class="input-site js-choice">
                <option>Для магазинів оптики 1</option>
                <option>Для магазинів оптики 2</option>
                <option>Для магазинів оптики 3</option>
              </select>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">

                <textarea class="input-site" placeholder="Залиште коментар"></textarea>
              </div>
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                disabled
                class="btn-site click-animation mt-2"
              >
                Отримати демо
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal order-->
<div
  data-lenis-prevent
  class="modal fade"
  id="order"
  aria-hidden="true"
  aria-labelledby="entranceModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <svg>
          <use xlink:href="images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal-body">
        <h4 class="h4 text-center modal_title">Залишити заявку</h4>
        <form action="#" id="formOrder">
          <div class="row gy-2">
            <div class="col-12">
              <div class="orderPackage">
                <div class="orderPackage_type">Smart</div>
                <div class="orderPackage_info">
                  <span class="orderPackage_price">$360</span>
                  <div class="orderPackage_period">на рік</div>
                </div>
                <input type="hidden" name="type">
                <input type="hidden" name="price">
                <input type="hidden" name="period">
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="text"
                  class="input-site"
                  placeholder="Ім’я"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="email"
                  class="input-site"
                  placeholder="example@mail.com"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="wrap-input-site">
                <input
                  type="tel"
                  class="input-site"
                  placeholder="+38 (___) _ _ _ - _ _ - _ _"
                />
              </div>
            </div>
            <div class="col-12">
              <select class="input-site js-choice">
                <option>Для магазинів оптики 1</option>
                <option>Для магазинів оптики 2</option>
                <option>Для магазинів оптики 3</option>
              </select>
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                disabled
                class="btn-site click-animation mt-2"
              >
                Замовити
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Modal thanks-->
<!--Open modal via js-->
<!--const thanks = new Modal('#thanks');-->
<!--thanks.show()-->
<div
  data-lenis-prevent
  class="modal fade"
  id="thanks"
  aria-hidden="true"
  aria-labelledby="entranceModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <svg>
          <use xlink:href="images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal-body">
        <div class="row align-items-center g-2">
          <div class="col-lg-5">
            <div class="thanks_img">
              <img src="images/dogs/dog_8.svg" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="thanks_desc text-center">
              <h4 class="thanks_title h4">Дякуємо за звернення!</h4>
              <div class="thanks_desc">Найближчим часом наші менеджери з в'яжуться з вами для уточнення запиту та дадуть відповідь на всі ваші запитання. </div>
              <div class="thanks_btn">
                <a href="index.html" class="btn-site click-animation">На головну</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
