<label class="checkbox-site">
  <input type="checkbox" id="consent_checkbox-1" checked name="consent">
  <span class="checkbox-site_icon">
                      <svg>
                        <use xlink:href="images/icons/icons-sprite.svg#check"></use>
                      </svg>
                    </span>
  <span class="checkbox-site_label">Я согласен с <a href="#">Пользовательским соглашением, Положением по сбору, обработке и защите персональных данных и Правилами подачи обращений.</a>
                    </span>
</label>

