<div class="col-sm-6">
  <div class="banner-mobile @@color">
    <div class="banner-mobile__img bannerMobile-item-@@count accordion-collapse collapse collapse-sm" aria-labelledby="bannerMobile-@@count">
      <img src="@@urlImg" alt="">
    </div>
    <button class="banner-mobile__button text-center" type="button" data-bs-toggle="collapse" data-bs-target=".bannerMobile-item-@@count" aria-expanded="true" aria-controls="bannerMobile-item-@@count">
      <h2 class="banner-mobile__title h2">@@title</h2>
    </button>
  
    <div class="banner-mobile__text bannerMobile-item-@@count accordion-collapse collapse collapse-sm" aria-labelledby="bannerMobile-@@count">@@text</div>
  </div>
</div>