<div class="wrap-banner">
  <div class="banner @@color">
    <div class="banner__img">
      <div class="banner__lottie" data-json="jsonAnimate/@@countIdLottie.json"></div>
    </div>
    <div class="banner__desc">
      <div class="banner__count">
        <div class="banner__count_current">01</div>
        /
        <div class="banner__count_all">11</div>
      </div>
      <div class="banner__desc__footer">
        <h2 class="banner__desc_title h2">@@title</h2>
        <div class="banner__desc_text">@@text</div>
      </div>
    </div>
  </div>
</div>
