<div class="mobile-menu">
  <button type="button" class="mobile-menu__close">
    <svg>
      <use xlink:href="images/icons/sprite.svg#close"></use>
    </svg>
  </button>
  <div class="mobile-menu__overlay">
    <div class="mobile-menu__content">
      <ul class="mobile-menu__list">
        <li><a href="optical.html">Для магазинів оптики</a></li>
        <li><a href="clinics.html">Для офтальмологічних клінік</a></li>
        <li><a href="prices.html">Ціни та плани</a></li>
        <li><a href="about.html">Про MARVI</a></li>
        <li><a href="safety.html">Безпека</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="contacts.html">Контакти</a></li>
      </ul>
      <div class="mobile-menu__btns d-flex flex-column gap-1">
        <button type="button" class="btn-site-2 click-animation w-100">Увійти</button>
        <a href="#" class="btn-site click-animation w-100" data-bs-toggle="modal" data-bs-target="#checkOutDemo">Отримати демо</a>
      </div>
      @@include('../../components/social/index.html')
    </div>
  </div>
</div>