<section class="section-functionsMARVI d-none d-xl-block" id="banners">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h1 text-center mb-80">Основні функції MARVI</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <div class="banners" id="banners-container" style="width: 500%;">
          @@loop('../../components/banner/index.html',
          'components/banner/bd.json')
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section d-block d-xl-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h1 text-center mb-80">Основні функції MARVI</h2>
      </div>
    </div>
    <div class="row g-1 g-lg-2 g-xl-3 accordion" id="bannerMobileAccordion">
      @@loop('../../components/banner/banner-mobile.html',
      'components/banner/bd-2.json')
    </div>
  </div>
</section>


