$color-text: #190f19;
$color-accent: #86368c;
$color-blue: #85c3ff;
$color-red: #db0000;
$color-bgBody: #fbf9fb;
$color-white: #fbf9fb;
$color-light: #f6eef7;
$box-shadow: 0 0 10px rgba(134, 54, 140, 0.25);

$bg-1: #593399;
$bg-2: #36498c;
$bg-3: #8c3655;
$bg-4: $color-accent;
$bg-5: #02ab6b;
$bg-6: #007347;

$font-size: 20px;
$font-Gotham: "Gotham", sans-serif;
